body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to bottom, #ff0000, #ffff00); /* Gradiente de vermelho para amarelo */
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #f44336;
    color: black;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.menu-item {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

.menu-item img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

.location {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

iframe {
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 1em;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 10px;
}

ul li img {
    width: 40px;
    height: auto;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
}